body{
      margin: 0;
      font-family: var(--bs-body-font-family);
      font-size: var(--bs-body-font-size);
      font-weight: var(--bs-body-font-weight);
      line-height: var(--bs-body-line-height);
      color: var(--bs-body-color);
      text-align: var(--bs-body-text-align);
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      padding:5px;
      background-color:#B2BABB; 
      
    }

.boton {
      box-shadow: 0px 0px 0px 2px #9fb4f2;
      background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
      background-color:#7892c2;
      border-radius:1 9px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:19px;
      font-weight:bold;
      padding:19px 52px;
      text-decoration:none;
      text-shadow:0px 0px 32px #283966;
}
.boton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.boton:active {
	position:relative;
	top:1px;
}
.contenedorPrincipal{
    padding: 15px;
	  background-color:#9278c2;
    border-radius: 10px;
    /* centrar elemento */
    display: flex;
    justify-content: center;
    /* centrar elemento */
}
.botones{
 display: flex;
  justify-content: center;
}

.contenedor1{
  background-color:#927ee8c2;
  border-radius: 70px;
  border: 2px solid red;

 }
 .circular--landscape {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.boton_siguiente{
      border-radius: 100%;
      color:red;
      background-color: red;
}
.columnas{
  box-sizing: border-box;
  margin: 0px;
  /* margin-tip: 25%; */
  border-style:solid;
  border: solid 0px #C00;
}
#imagen{
  border: solid 5px #C00;
  margin-left: 25%;
  /* padding: 20px; */

}
.contenedor_carrusel{
  /* background-color:rgb(30, 70, 118); */
  background-color: #99A3A4;
  /* padding-left: 10px;
  padding-right: 10px;
  padding: 20%; */
  /* margin-left :10px;
  margin-right:10px; */
}
#imagen_pasto {
  width: 100%;
  height: 100px;
  background-image: url("../img/pasto1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.btn_usuario{

  border: red 5px outset;
}

/************************************************ HEADER.CSS */
.logo{
  display: inline-block;
  position: relative;
  width: 1%;
  height: 1%;
  overflow: hidden;
  border-radius: 50%;
}
.menu{
background: linear-gradient(135deg,rgb(30, 70, 118) 0,rgb(58, 139, 204) 100%);
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.imagenLogo{
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
.imagenLogo:hover{
  box-shadow: 0px 0px 15px 15px #ec731e;
}
/**********************FIN ************************** HEADER.CSS */


.avatar {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 180px;
  margin: auto;
  background: #ddd;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.avatar:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 70%;
  height: 44%;
  margin: 0 0 0 -35%;
  background: #989898;
  -webkit-border-radius: 100% 100% 0 0;
  border-radius: 100% 100% 0 0
}

.avatar:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 19%;
  width: 40%;
  height: 40%;
  margin: 0 0 0 -20%;
  background: #989898;
  -webkit-box-shadow: 0 0 0 4px #DCDCDC;
  box-shadow: 0 0 0 4px #DCDCDC;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.avatar img {
  position: relative;
  -webkit-border-radius: 30%;
  border-radius: 30%;
  z-index: 10
}



.iconos{

  width: 100%;
  color:black;
  height: 100%;
  
}